<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.wisag.de/automation/schema/device"
            class="de.wisag.automation.micas.olt.device.DevicePackage"
            genModel="model/device.genmodel"/>
      <package
            class="de.wisag.automation.micas.olt.monitor.MonitorPackage"
            genModel="model/monitor.genmodel"
            uri="http://www.wisag.de/automation/schema/monitor">
      </package>
   </extension>

</plugin>
