<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.wisag.de/automation/micas/library/1.0.0/"
            target="platform:/plugin/de.wisag.automation.micas.diagram.core/blocktypes/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipselabs.org/damos/DML/1.0.0">
         <adviceBinding
               class="de.wisag.automation.micas.diagram.core.internal.edithelpers.BlockEditHelperAdvice"
               id="de.wisag.automation.micas.diagram.core.blockAdviceBinding"
               inheritance="none"
               typeId="org.eclipselabs.damos.diagram.block">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://www.eclipselabs.org/damos/DML/1.0.0">
         <adviceBinding
               class="de.wisag.automation.micas.diagram.core.internal.edithelpers.ConnectionEditHelperAdvice"
               id="de.wisag.automation.micas.diagram.core.connectionAdviceBinding"
               inheritance="none"
               typeId="org.eclipselabs.damos.diagram.connection">
         </adviceBinding>
      </metamodel>
      <metamodel
            nsURI="http://www.wisag.de/Automation/Micas/Module">
         <metamodelType
               eclass="IncomingOffpageConnector"
               edithelper="de.wisag.automation.micas.diagram.core.internal.edithelpers.IncomingOffpageConnectorEditHelper"
               id="de.wisag.automation.micas.diagram.core.incomingOffPageConnector"
               name="Incoming Offpage Connector">
         </metamodelType>
         <metamodelType
               eclass="OutgoingOffpageConnector"
               edithelper="de.wisag.automation.micas.diagram.core.internal.edithelpers.OutgoingOffpageConnectorEditHelper"
               id="de.wisag.automation.micas.diagram.core.outgoingOffPageConnector"
               name="Outgoing Offpage Connector">
         </metamodelType>
         <metamodelType
               eclass="Constant"
               edithelper="de.wisag.automation.micas.diagram.core.internal.edithelpers.ConstantEditHelper"
               id="de.wisag.automation.micas.diagram.core.constant"
               name="Constant">
         </metamodelType>
         <metamodelType
               eclass="Reference"
               edithelper="de.wisag.automation.micas.diagram.core.internal.edithelpers.ReferenceEditHelper"
               id="de.wisag.automation.micas.diagram.core.reference"
               name="Reference">
         </metamodelType>
      </metamodel>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockGroups">
      <group
            id="de.wisag.automation.micas.library.group.analog"
            name="Analog">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.binary"
            name="Binaer">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.administration"
            name="Verwaltung">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.binaryAnalog"
            name="Binaer-Analog">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.time"
            name="Zeit">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.transfer"
            name="Transfer">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.controller"
            name="Regler-Sollken">
      </group>
      <group
            id="de.wisag.automation.micas.library.group.math"
            name="Math">
      </group>
   </extension>
   <extension
         id="analogBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="TTZEIT"
            qualifiedName="de.wisag.automation.micas.library.TTZEIT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/TTZEIT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="INTE"
            qualifiedName="de.wisag.automation.micas.library.INTE"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/INTE.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="PT1"
            qualifiedName="de.wisag.automation.micas.library.PT1"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/PT1.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ADSU"
            qualifiedName="de.wisag.automation.micas.library.ADSU"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ADSU.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ABFEUG"
            qualifiedName="de.wisag.automation.micas.library.ABFEUG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ABFEUG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ABSFEU"
            qualifiedName="de.wisag.automation.micas.library.ABSFEU"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ABSFEU.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ABSWER"
            qualifiedName="de.wisag.automation.micas.library.ABSWER"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ABSWER.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ADD2"
            qualifiedName="de.wisag.automation.micas.library.ADD2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ADD2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ATRA"
            qualifiedName="de.wisag.automation.micas.library.ATRA"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ATRA.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="CHS"
            qualifiedName="de.wisag.automation.micas.library.CHS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/CHS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ENTHA"
            qualifiedName="de.wisag.automation.micas.library.ENTHA"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ENTHA.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="ENTHAG"
            qualifiedName="de.wisag.automation.micas.library.ENTHAG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/ENTHAG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="LIMIT"
            qualifiedName="de.wisag.automation.micas.library.LIMIT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/LIMIT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="MAX"
            qualifiedName="de.wisag.automation.micas.library.MAX"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/MAX.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="MIN"
            qualifiedName="de.wisag.automation.micas.library.MIN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/MIN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="MULDI"
            qualifiedName="de.wisag.automation.micas.library.MULDI"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/MULDI.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="MULT"
            qualifiedName="de.wisag.automation.micas.library.MULT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/MULT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="SUB2"
            qualifiedName="de.wisag.automation.micas.library.SUB2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/SUB2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="TAUPT"
            qualifiedName="de.wisag.automation.micas.library.TAUPT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/TAUPT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="FEUKT"
            qualifiedName="de.wisag.automation.micas.library.FEUKT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/FEUKT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.analog"
            name="HXSTRA"
            qualifiedName="de.wisag.automation.micas.library.HXSTRA"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/analog/HXSTRA.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="binaryBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="UND2"
            qualifiedName="de.wisag.automation.micas.library.UND2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/UND2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="AEQ"
            qualifiedName="de.wisag.automation.micas.library.AEQ"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/AEQ.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="NAND2"
            qualifiedName="de.wisag.automation.micas.library.NAND2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/NAND2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="NICHT"
            qualifiedName="de.wisag.automation.micas.library.NICHT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/NICHT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="NOR2"
            qualifiedName="de.wisag.automation.micas.library.NOR2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/NOR2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="ODR2"
            qualifiedName="de.wisag.automation.micas.library.ODR2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/ODR2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="ODRMN"
            qualifiedName="de.wisag.automation.micas.library.ODRMN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/ODRMN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="RSS"
            qualifiedName="de.wisag.automation.micas.library.RSS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/RSS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="TFF"
            qualifiedName="de.wisag.automation.micas.library.TFF"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/TFF.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="UND11"
            qualifiedName="de.wisag.automation.micas.library.UND11"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/UND11.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="UND21"
            qualifiedName="de.wisag.automation.micas.library.UND21"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/UND21.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="UNDMN"
            qualifiedName="de.wisag.automation.micas.library.UNDMN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/UNDMN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="UVO"
            qualifiedName="de.wisag.automation.micas.library.UVO"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/UVO.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="XOR2"
            qualifiedName="de.wisag.automation.micas.library.XOR2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/XOR2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="BTRA"
            qualifiedName="de.wisag.automation.micas.library.BTRA"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/BTRA.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="AWTB"
            qualifiedName="de.wisag.automation.micas.library.AWTB"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/AWTB.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binary"
            name="USTB"
            qualifiedName="de.wisag.automation.micas.library.USTB"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binary/USTB.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="binaryAnalogBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="VRZ"
            qualifiedName="de.wisag.automation.micas.library.VRZ"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/VRZ.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="AWT"
            qualifiedName="de.wisag.automation.micas.library.AWT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/AWT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="MAZ"
            qualifiedName="de.wisag.automation.micas.library.MAZ"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/MAZ.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="SCHR"
            qualifiedName="de.wisag.automation.micas.library.SCHR"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/SCHR.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="SEQ2"
            qualifiedName="de.wisag.automation.micas.library.SEQ2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/SEQ2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="SEQ3"
            qualifiedName="de.wisag.automation.micas.library.SEQ3"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/SEQ3.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="UST"
            qualifiedName="de.wisag.automation.micas.library.UST"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/UST.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="VGL3P"
            qualifiedName="de.wisag.automation.micas.library.VGL3P"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/VGL3P.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="VGLEH"
            qualifiedName="de.wisag.automation.micas.library.VGLEH"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/VGLEH.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="VGLOH"
            qualifiedName="de.wisag.automation.micas.library.VGLOH"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/VGLOH.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="VGLUH"
            qualifiedName="de.wisag.automation.micas.library.VGLUH"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/VGLUH.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.binaryAnalog"
            name="FKG"
            qualifiedName="de.wisag.automation.micas.library.FKG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/binaryanalog/FKG.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="mathBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="EHOX"
            qualifiedName="de.wisag.automation.micas.library.EHOX"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/EHOX.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="COS"
            qualifiedName="de.wisag.automation.micas.library.COS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/COS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="DEG"
            qualifiedName="de.wisag.automation.micas.library.DEG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/DEG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="DIVK2"
            qualifiedName="de.wisag.automation.micas.library.DIVK2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/DIVK2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="HLG"
            qualifiedName="de.wisag.automation.micas.library.HLG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/HLG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="LN"
            qualifiedName="de.wisag.automation.micas.library.LN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/LN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="LOG"
            qualifiedName="de.wisag.automation.micas.library.LOG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/LOG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="MULK2"
            qualifiedName="de.wisag.automation.micas.library.MULK2"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/MULK2.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="QUAD"
            qualifiedName="de.wisag.automation.micas.library.QUAD"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/QUAD.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="RAD"
            qualifiedName="de.wisag.automation.micas.library.RAD"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/RAD.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="REZI"
            qualifiedName="de.wisag.automation.micas.library.REZI"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/REZI.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="SIN"
            qualifiedName="de.wisag.automation.micas.library.SIN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/SIN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="SQRT"
            qualifiedName="de.wisag.automation.micas.library.SQRT"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/SQRT.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.math"
            name="XHOY"
            qualifiedName="de.wisag.automation.micas.library.XHOY"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/math/XHOY.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="controllerBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.controller"
            name="REGLER"
            qualifiedName="de.wisag.automation.micas.library.REGLER"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/controller/REGLER.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.controller"
            name="LREG"
            qualifiedName="de.wisag.automation.micas.library.LREG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/controller/LREG.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.controller"
            name="SOLKEN"
            qualifiedName="de.wisag.automation.micas.library.SOLKEN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/controller/SOLKEN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.controller"
            name="UREG"
            qualifiedName="de.wisag.automation.micas.library.UREG"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/controller/UREG.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="transferBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="ANEIN"
            qualifiedName="de.wisag.automation.micas.library.ANEIN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/ANEIN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="ANAUS"
            qualifiedName="de.wisag.automation.micas.library.ANAUS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/ANAUS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="BEFAUS"
            qualifiedName="de.wisag.automation.micas.library.BEFAUS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/BEFAUS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="DSTAUS"
            qualifiedName="de.wisag.automation.micas.library.DSTAUS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/DSTAUS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="MELEIN"
            qualifiedName="de.wisag.automation.micas.library.MELEIN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/MELEIN.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="HMHL"
            qualifiedName="de.wisag.automation.micas.library.HMHL"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/HMHL.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="SETMEL"
            qualifiedName="de.wisag.automation.micas.library.SETMEL"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/SETMEL.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="ZWAUS"
            qualifiedName="de.wisag.automation.micas.library.ZWAUS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/ZWAUS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.transfer"
            name="ZWEIN"
            qualifiedName="de.wisag.automation.micas.library.ZWEIN"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/transfer/ZWEIN.blocktype.dml#/">
      </blockType>
   </extension>
   <extension
         id="administrationBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
       <!--
         not used in diagram editor
      <blockType
            group="de.wisag.automation.micas.library.group.administration"
            name="ENDE"
            qualifiedName="de.wisag.automation.micas.library.ENDE"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/administration/ENDE.blocktype.dml#/">
      </blockType>
      -->
      <blockType
            group="de.wisag.automation.micas.library.group.administration"
            name="BENDE"
            qualifiedName="de.wisag.automation.micas.library.BENDE"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/administration/BENDE.blocktype.dml#/">
      </blockType>
      <!--
      <blockType
            group="de.wisag.automation.micas.library.group.administration"
            name="STEP"
            qualifiedName="de.wisag.automation.micas.library.STEP"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/administration/STEP.blocktype.dml#/">
      </blockType>
      -->
   </extension>
   <extension
         id="timeBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="UHR"
            qualifiedName="de.wisag.automation.micas.library.UHR"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/UHR.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="KALUHR"
            qualifiedName="de.wisag.automation.micas.library.KALUHR"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/KALUHR.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="MOKS"
            qualifiedName="de.wisag.automation.micas.library.MOKS"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/MOKS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="MOKY"
            qualifiedName="de.wisag.automation.micas.library.MOKY"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/MOKY.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="PDM"
            qualifiedName="de.wisag.automation.micas.library.PDM"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/PDM.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.time"
            name="VVZ"
            qualifiedName="de.wisag.automation.micas.library.VVZ"
            uri="http://www.wisag.de/automation/micas/library/1.0.0/time/VVZ.blocktype.dml#/">
      </blockType>
   </extension>

</plugin>
