/*
** WTH86.RC
**
** Menue- und Stringresource-Quell-File fuer Programm WTH86
**
*/

#include "wth86.h"
#include "th_dlg.h"


// Version Info
1 VERSIONINFO
FILEVERSION 4,64,12,0
//PRODUCTVERSION 4,64
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
  {
  BLOCK "040704E4"
   {
VALUE "CompanyName", "WISAG Automatisierungstechnik GmbH & Co KG", 0

VALUE "FileDescription", "Tool zum Laden und Rücklesen von Modul-Konfigurationen und DB's", 0

VALUE "FileVersion", "4.64.12", 0

VALUE "InternalName", "WTH86", 0

VALUE "LegalCopyright", "WISAG Automatisierungstechnik GmbH & Co KG", 0

VALUE "OriginalFilename", "WTH86.EXE", 0

VALUE "ProductName", "WTH86", 0

VALUE "ProductVersion", "4.64", 0
   }
  }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1031, 1252
 }
}



WTH86	ICON	wth86.ico

#define	LBS_NORMAL	LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_TABSTOP
#define	DOCURABOX 	BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD
#define	DOCULABOX 	BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP | WS_CHILD
#define	DOCURCBOX 	BS_CHECKBOX | WS_TABSTOP | WS_CHILD
#define	DOCULCBOX 	BS_CHECKBOX | BS_LEFTTEXT | WS_TABSTOP | WS_CHILD
#define	COMBODROPDOWN	CBS_DROPDOWNLIST | WS_TABSTOP | WS_CHILD | WS_VSCROLL
#define	COMBOBOXDROP	CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP | WS_CHILD | WS_VSCROLL


WTH86  ACCELERATORS
BEGIN
    VK_F1 ,    IDMCOM1,		VIRTKEY
    VK_F2 ,    IDMCOM2,		VIRTKEY
    VK_F3 ,    IDSEND,		VIRTKEY
    VK_F4 ,    IDRBKDB,		VIRTKEY
    VK_F5 ,    IDGETVAL,	VIRTKEY
    VK_F6 ,    IDISPSYMVAL,	VIRTKEY
    VK_F7 ,    IDSETSYMVAL,	VIRTKEY
    VK_F8 ,    IDGETSYM,	VIRTKEY
    VK_F9 ,    IDMCLOSE,	VIRTKEY
    VK_F10,    IDMHELP,		VIRTKEY
    VK_F11,    IDMCOMX,		VIRTKEY
    VK_F12,    IDMLASTTCP,	VIRTKEY
END

VERSINFO DIALOG 0, 0, 370, 200
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION 
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 180, 50, 14
 CONTROL "", IDEDIT, "edit", WS_VSCROLL | WS_BORDER | ES_MULTILINE | ES_READONLY, 10, 5, 350, 170
}

ASKMODNR DIALOG 56, 25, 142, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
BEGIN
	LTEXT "", IDTXT1, 10, 4, 50, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", IDTXT2, 85, 4, 50, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT IDLUS, 10, 14, 30, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	CONTROL "", IDMODNR, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 14, 40, 50
	PUSHBUTTON "", IDCANCEL, 10, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "", IDOK, 85, 41, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

SELMEMAREA DIALOG 43, 45, 130, 75
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
	DEFPUSHBUTTON "", IDOK, 85, 5, 40, 14
	PUSHBUTTON "", IDCANCEL, 85, 55, 40, 14
	CONTROL "", IDOFFTXT, "static", SS_RIGHT | WS_CHILD, 4, 31, 38, 11
	CONTROL "", IDLENTXT, "static", SS_RIGHT | WS_CHILD, 4, 56, 38, 11
	CONTROL "", IDSEGTXT, "static", SS_RIGHT | WS_CHILD, 4, 6, 38, 11
	CONTROL "", IDSEG, "edit", ES_LEFT | ES_RIGHT | WS_BORDER | WS_TABSTOP | WS_CHILD, 45, 6, 22, 12
	CONTROL "", IDOFF, "edit", ES_LEFT | ES_RIGHT | WS_BORDER | WS_TABSTOP | WS_CHILD, 45, 31, 22, 12
	CONTROL "", IDLEN, "edit", ES_LEFT | ES_RIGHT | WS_BORDER | WS_TABSTOP | WS_CHILD, 45, 56, 22, 12
END

TEXTINPUT DIALOG 72, 20, 175, 85
STYLE WS_DLGFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
BEGIN
	CONTROL "", IDTEXTIN, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 11, 8, 155, 70
	DEFPUSHBUTTON "", IDOK, 116, 50, 50, 14
	PUSHBUTTON "", IDCANCEL, 10, 50, 50, 14
END

DISPLAYBYTES DIALOG 0, 0, 550, 20
STYLE WS_POPUP | WS_VISIBLE 
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDTXT1, "static", SS_RIGHT | WS_CHILD, 2, 4, 25, 10
	CONTROL "", IDFILENAM, "static", SS_LEFT | WS_CHILD, 30, 3, 330, 10
	CONTROL "", IDRECTRANS, "static", SS_RIGHT | WS_CHILD, 370, 3, 103, 10
	CONTROL "", IDBYTES, "static", SS_LEFT | WS_CHILD, 475, 3, 25, 10
	PUSHBUTTON "", IDCANCEL, 505, 5, 40, 14
END

SIOPARAMS DIALOG 56, 20, 165, 125
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_VISIBLE
{
 CONTROL "", IDTXT1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 5, 43, 25, 0
 CONTROL "&7", ID7DATA, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 16, 14, 12
 CONTROL "&8", ID8DATA, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 33, 16, 14, 12

 CONTROL "", IDTXT2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 35, 43, 25, 0
 CONTROL "&1", ID1STOP, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 45, 14, 12
 CONTROL "&2", ID2STOP, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 32, 45, 14, 12

 CONTROL "", IDTXT5, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 58, 5, 50, 55, 0
 CONTROL "", IDAC40, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 15, 40, 12, 0
 CONTROL "", IDZP10, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 30, 40, 10
 CONTROL "", IDZP12, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 45, 40, 10

 CONTROL "", IDTXT4, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 116, 5, 40, 20, 0
 CONTROL "", IDBAUD, "static", SS_CENTER | WS_CHILD, 118, 14, 30, 8
 CONTROL "", IDSCROLL, "SCROLLBAR", SBS_HORZ | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 25, 40, 9

 CONTROL "", IDTXT3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 90, 148, 25, 0
 CONTROL "", IDODDP, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 100, 40, 12
 CONTROL "", IDEVENP, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 60, 100, 40, 12
 CONTROL "", IDNOP, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 110, 100, 40, 12

 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 46, 40, 14
 CONTROL "", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 69, 40, 14
}

SELECTHOST DIALOG 0, 0, 250, 170
STYLE WS_DLGFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
{
// CONTROL "", IDHOSTS, "SysTreeView32", TVS_HASLINES | TVS_HASBUTTONS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 5, 175, 160, 0
 LTEXT "", IDTXT1, 10, 6, 80, 8
 CONTROL "", IDHOSTS, "COMBOBOX", COMBOBOXDROP | CBS_SORT, 10, 15, 150, 150
// CONTROL "", IDHOSTS, "listbox", LBS_NORMAL, 10, 15, 150, 150
 CONTROL "", IDEDIT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 10, 45, 14
 CONTROL "", IDMONI, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_GROUP | WS_TABSTOP, 175, 40, 65, 10
 CONTROL "", IDMONITN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_GROUP | WS_TABSTOP, 175, 55, 65, 12
 CONTROL "", IDZLTDIA, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_GROUP | WS_TABSTOP, 175, 70, 65, 12
 CONTROL "", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 120, 45, 14
 CONTROL "", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 145, 45, 14
}
