<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.wisag.automation.micas.olt.ui"
            class="de.wisag.automation.micas.olt.ui.internal.views.SymbolMonitorView"
            icon="icons/eview16/emblem-system.png"
            id="de.wisag.automation.micas.olt.ui.monitorview"
            name="MICAS Symbol Monitor"
            restorable="true">
      </view>
      <category
            id="de.wisag.automation.micas.olt.ui"
            name="Micas Onlinetest">
      </category>
      <view
            category="de.wisag.automation.micas.olt.ui"
            class="de.wisag.automation.micas.olt.ui.internal.views.DeviceExplorer"
            icon="icons/eview16/system_view.gif"
            id="de.wisag.automation.micas.olt.ui.devexplorer"
            name="Device Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.wisag.automation.micas.olt.ui.internal.OnlinetestPerspectiveFactory"
            icon="icons/view16/scratchpad_view.gif"
            id="de.wisag.automation.micas.olt.ui.perspective"
            name="Onlinetest">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.wisag.automation.micas.olt.ui.perspective">
         <view
               id="de.wisag.automation.micas.olt.ui.devexplorer"
               minimized="false"
               ratio="0.7"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="de.wisag.automation.micas.olt.terminal.view.terminalview"
               minimized="false"
               ratio="0.3"
               relationship="right"
               relative="de.wisag.automation.micas.olt.ui.devexplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.wisag.automation.micas.olt.ui.handlers.DownloadMicFileHandler"
            commandId="de.wisag.automation.micas.olt.ui.commands.downloadmicfile">
         <enabledWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="de.wisag.automation.micas.olt.ui.internal.views.DeviceTreeNode">
                     </instanceof>
                  </iterate>
               </with>
            </enabledWhen>
      </handler>
      <handler
            class="de.wisag.automation.micas.olt.ui.handlers.SelectAndUploadH86FileHandler"
            commandId="de.wisag.automation.micas.olt.ui.commands.uploadmicfile">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.wisag.automation.micas.olt.ui.internal.views.DeviceTreeNode">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.wisag.automation.micas.olt.ui.handlers.ShowDeviceInfo"
            commandId="de.wisag.automation.micas.olt.ui.commands.showdeviceinfo">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="de.wisag.automation.micas.olt.ui.internal.views.DeviceTreeNode">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.wisag.automation.micas.olt.ui.handlers.UploadH86FromSelectionHandler"
            commandId="de.wisag.automation.micas.olt.ui.commands.uploadh86file">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.H86">
                  </test>
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.h86">
                  </test>
                  <adapt
                        type="de.wisag.automation.micas.olt.IMicasDeviceManager">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>

       <handler
            class="de.wisag.automation.micas.olt.ui.internal.handlers.MonitorSymbolHandler"
            commandId="de.wisag.automation.micas.olt.ui.commands.monitorsymbol">
            <enabledWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">

                     <not>
	                     <instanceof
	                           value="de.wisag.automation.micas.diagram.ui.editparts.BlockEditPart">
	                     </instanceof>
                     </not>
                     <not>
	                     <instanceof
	                           value="de.wisag.automation.micas.diagram.ui.editparts.CustomBlockDiagramEditPart">
	                     </instanceof>
                     </not>

                  </iterate>
               </with>
            </enabledWhen>
      </handler>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!-- OLT Status indicator -->
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="de.wisag.automation.micas.olt.ui.statuslinetoolbar">
            <control
                  class="de.wisag.automation.micas.olt.ui.internal.OltStatusIndicatorContribution"
                  id="contributions.controlContrib1">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.wisag.automation.micas.olt.ui.devexplorer?after=additions">
         <command
               commandId="de.wisag.automation.micas.olt.ui.commands.downloadmicfile"
               label="Download Micfile"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.wisag.automation.micas.olt.ui.devexplorer?after=additions">
         <command
               commandId="de.wisag.automation.micas.olt.ui.commands.uploadmicfile"
               label="Upload Micfile"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.wisag.automation.micas.olt.ui.devexplorer?after=additions">
         <command
               commandId="de.wisag.automation.micas.olt.ui.commands.showdeviceinfo"
               label="Show Deviceinfo"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.wisag.automation.micas.olt.ui.commands.uploadh86file"
               label="Send h86 File to Device"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command
               commandId="de.wisag.automation.micas.olt.ui.commands.monitorsymbol"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.wisag.automation.micas.compiler.mic.ui.commands.category"
            id="de.wisag.automation.micas.olt.ui.commands.downloadmicfile"
            name="Download Micfile">
      </command>
      <command
            categoryId="de.wisag.automation.micas.compiler.mic.ui.commands.category"
            id="de.wisag.automation.micas.olt.ui.commands.uploadmicfile"
            name="Upload Micfile">
      </command>
      <command
            categoryId="de.wisag.automation.micas.compiler.mic.ui.commands.category"
            id="de.wisag.automation.micas.olt.ui.commands.uploadh86file"
            name="Upload H86 File Command">
      </command>
      <command
            categoryId="de.wisag.automation.micas.compiler.mic.ui.commands.category"
            id="de.wisag.automation.micas.olt.ui.commands.showdeviceinfo"
            name="Show Device Info">
      </command>

      <command
            id="de.wisag.automation.micas.olt.ui.commands.monitorsymbol"
            name="Monitor by Onlinetest">
      </command>

   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.wisag.automation.micas.olt.ui.internal.views.SymbolMonitorView"
            class="de.wisag.automation.micas.olt.ui.internal.views.SymbolMonitorViewAdapterFactory">
         <adapter
               type="de.wisag.automation.micas.olt.ui.ISymbolMonitorStatusControl">
         </adapter>
      </factory>
   </extension>

</plugin>
