<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="http://www.wisag.de/automation/micas/library/intern/1.0.0/"
            target="platform:/plugin/de.wisag.automation.micas.diagram.core.intern/blocktypes/">
      </mapping>
   </extension>
   <extension
         point="org.eclipselabs.damos.dml.blockGroups">
      <group
            id="de.wisag.automation.micas.library.group.intern"
            name="Intern">
      </group>
   </extension>
   <extension
         id="internBlockTypes"
         point="org.eclipselabs.damos.dml.blockTypes">
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="BTOF"
            qualifiedName="de.wisag.automation.micas.library.BTOF"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/BTOF.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="FTOB"
            qualifiedName="de.wisag.automation.micas.library.FTOB"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/FTOB.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="IPORTB"
            qualifiedName="de.wisag.automation.micas.library.IPORTB"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/IPORTB.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="MCPY"
            qualifiedName="de.wisag.automation.micas.library.MCPY"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/MCPY.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="MSET"
            qualifiedName="de.wisag.automation.micas.library.MSET"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/MSET.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="OPORTB"
            qualifiedName="de.wisag.automation.micas.library.OPORTB"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/OPORTB.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="TMESS"
            qualifiedName="de.wisag.automation.micas.library.TMESS"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/TMESS.blocktype.dml#/">
      </blockType>
      <blockType
            group="de.wisag.automation.micas.library.group.intern"
            name="TSTART"
            qualifiedName="de.wisag.automation.micas.library.TSTART"
            uri="http://www.wisag.de/automation/micas/library/intern/1.0.0/TSTART.blocktype.dml#/">
      </blockType>
   </extension>

</plugin>
